{% extends 'layout.twig' %}
{% block title %}New Configuration{% endblock %}

{% block body %}

   <div class="span10">
          <div class="row-fluid">
            <div class="span12 box">
                <div class="box-head">
                    <h3><!--i class="icon-white icon-plus"></i--> Supplier Information</h3>
                </div>
                <div class="box-content">
                    <div class="content-inner">
                        <form class="form-horizontal" method="post">
                            <div class="control-group">
                              <label class="control-label" for="input01">Supplier name</label>
                              <div class="controls">
                                <input type="text" name="supplier_name" value="{{ user_id.name }}" class="input-xlarge" id="input01">
                              </div>
                            </div>
							<div class="control-group">
                              <label class="control-label" for="input01">Mobile number</label>
                              <div class="controls">
                                <input type="text" name="mobile_number" value="{{ user_id.phone }}" class="input-xlarge" id="input01">
                              </div>
                            </div>
                            <div class="control-group">
                              <label class="control-label" for="input01">Email</label>
                              <div class="controls">
                                <input type="text" name="email" value="{{ user_id.email }}" class="input-xlarge" id="input01">
                              </div>
                            </div>
                            <div class="control-group">
                              <label class="control-label" for="input01">Address</label>
                              <div class="controls">
                                <input type="text" name="address" value="{{ user_id.address }}" class="input-xlarge" id="input01">
                              </div>
                            </div>
                            <div class="control-group">
                              <label class="control-label" for="input01">City</label>
                              <div class="controls">
                                <input type="text" name="city" value="{{ user_id.city }}" class="input-xlarge" id="input01">
                              </div>
                            </div>
                           <div class="control-group">
                              <label class="control-label" for="input01">State</label>
                              <div class="controls">
                                <input type="text" name="state" value="{{ user_id.state }}" class="input-xlarge" id="input01">
                              </div>
                            </div>
                            <div class="control-group">
                              <label class="control-label" for="input01">Country</label>
                              <div class="controls">
                                <input type="text" name="country" value="{{ user_id.country }}" class="input-xlarge" id="input01">
                              </div>
                            </div>

                            <div class="form-actions">
                                <button type="submit" class="btn btn-primary">Save</button>
                                <a href="/supplier/new?_cancel" class="btn">Cancel</a>
                            </div>
                        </form>
                    </div><!-- content-inner -->
                </div>
            </div>
          </div> <!-- end row -->
          
        </div>
{% endblock %}
